{% extends 'base.html' %}

{% block title%}
	한 페이지를 반으로 분할하기
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="pdf_file" class="form-label">한 페이지를 반으로 분할할 파일</label>
            <input class="form-control" id="pdf_file" type="file" title="Upload pdf file" name="pdf_file" required="required" />
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="col-md-2 col-md-offset-10 btn btn-primary">확인</button>
            </div>
        </div>
    </form>
{% endblock %}